.caixa{
	background: #7a7676;
	padding: 30px;	
}

*{margin: 2px; padding: 0;}


body{
	background: radial-gradient(#363636,#4F4F4F,#696969);

}

h1{
	margin: 10px;
	text-align: center;
	font-size: 30px;
	font-family:  Arial, Helvetica, sans-serif;
	color: turquoise;
	line-height: 1.8;
}

ul.menu{
	text-align: center; 
	font-size: 20px;
	
}	

ul.menu li{
	display: inline-block;
	margin: 0 5px;
}

ul.menu li a{
	
	border-radius: 6px;
	padding: 6px 10px;
	color: #fff;
	
}

p{

	text-align: center;
	color: #fff;	
	font-size: 22px;
	font-family:  Arial, Helvetica, sans-serif;
	margin: 25px 50px 75px;
	line-height: 1.6;
}

h2{
	margin: 10px;
	font-size: 25px;
	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;
	color: turquoise;
	line-height: 1.6;
}

.foto-perfil{
    border-radius: 100%;
    max-width: 200px;
    border: 1px solid black
}

.fotos{
    width: 22%;
    display: inline-block;
	padding: 20px 30px;
	text-align: center;	
}

.container{
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 400px;
    margin: 100px;
}
.container img{
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

h3{
	text-align: center;
	font-size: 15px;
	font-family:  Arial, Helvetica, sans-serif;
	margin: 25px 50px 75px;
	color:#fff;
}

a:link 
{ 
 text-decoration:none; 
}

